* {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .bodyGeneral {
    background-color: rgb(129, 126, 126);
    image-rendering: auto;
    /*background-image: url("../img/curved6.jpg");*/
    font-family: 'Poppins', sans-serif;
    -webkit-text-decoration-color: #fefeff;
            text-decoration-color: #fcfcfe;
    padding: 60px 10px 0px;
    /* Medida movil */
    /* padding: 90px 20px 0px; /* Medida pantalla */
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    
  }

  header {
    height: 75px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #084ea5;
  }
  .centro{
      display: flex;
      text-align: center;
      align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
  }

  .container{
    margin-top: 60px;
    background-color: rgb(229, 237, 244);

  }

  .borde{
      border: solid;
      border-radius: 5px;
      border-color: rgb(3, 99, 99);
      background-image: url("../img/curved6.jpg");
      
    
    
  }

  .margen{
      margin: 10px;
  }

  .inst{
    border: solid;
    border-radius: 5px;
    border-color: rgb(3, 99, 99);
    background-image: url("../img/curved6.jpg");
    max-width: fit-content;
   
    
  }